<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAS</title>
    <link rel="icon" href="../static/icons/gas.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/pink.css" rel="stylesheet">
</head>
<body>
    <div>
    <header id="header">
        <div class="animation_container">
            <div class="waviy">
                <span style="--i:1">G</span>
                <span style="--i:2">R</span>
                <span style="--i:3">O</span>
                <span style="--i:4">W</span>
                <span style="--i:5">T</span>
                <span style="--i:6">H</span>
                <span style="--i:7">  </span>

                <span style="--i:1">A</span>
                <span style="--i:2">B</span>
                <span style="--i:3">I</span>
                <span style="--i:4">L</span>
                <span style="--i:5">I</span>
                <span style="--i:6">T</span>
                <span style="--i:7">Y</span>
                <span style="--i:8">  </span>

                <span style="--i:1">S</span>
                <span style="--i:2">E</span>
                <span style="--i:3">R</span>
                <span style="--i:4">V</span>
                <span style="--i:5">I</span>
                <span style="--i:6">C</span>
                <span style="--i:7">E</span>
                <span style="--i:8">S</span>
                <span style="--i:9">.</span>
            </div>
        </div>
        <nav class="tabs-container">
            <a class="nav-link blink" href="./index.html">Dashboard</a>
            <a class="nav-link blink" href="/patient_management">Patient Management</a>
            <a class="nav-link blink" href="./provider_management.html">Provider Management</a>
            <a class="nav-link blink" href="./employee_management.html">Employee Management</a>
            <a class="nav-link blink red" href="/">Sign out</a>
        </nav>
    </header>
    <main>
        <section>
            <div class="special_queries">
                <div>
                    <div class="container info_wrapper">
                        <table id="queryOneTable" class="table table-bordered table-striped">
                            <h2 class="table_title">Query</h2>
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody id="queryOneTableBody"></tbody>
                        </div>
                </div>
                <div>
                    <div class="container info_wrapper">
                        <table id="querySevenTable" class="table table-bordered table-striped">
                            <h2 class="table_title">Query</h2>
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody id="querySevenTableBody"></tbody>
                        </div>
                </div>
            
                <div>
                    <div class="container info_wrapper">
                        <table id="queryEightTable" class="table table-bordered table-striped">
                            <h2 class="table_title">Query</h2>
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody id="queryEightTableBody"></tbody>
                        </div>
                </div>
            
                <div>
                    <div class="container info_wrapper">
                        <table id="queryTwoTable" class="table table-bordered table-striped">
                            <h2 class="table_title">Query</h2>
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody id="queryTwoTableBody"></tbody>
                        </div>
                </div>
            
                <div>
                    <div class="container info_wrapper">
                        <table id="queryNineTable" class="table table-bordered table-striped">
                            <h2 class="table_title">Query</h2>
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody id="queryNineTableBody"></tbody>
                        </div>
                </div>
            
                <div>
                    
            
                    <div class="container info_wrapper">
                        <table id="queryThreeTable" class="table table-bordered table-striped">
                            <h2 class="table_title">Query</h2>
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody id="queryThreeTableBody"></tbody>
                        </div>
                </div>
            
                <div>
                    
            
                    <div class="container info_wrapper">
                        <table id="queryFourTable" class="table table-bordered table-striped">
                            <h2 class="table_title">Query</h2>
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody id="queryFourTableBody"></tbody>
                        </div>
                </div>
            
                <div>
                    <div class="container info_wrapper">
                        <table id="queryFiveTable" class="table table-bordered table-striped">
                            <h2 class="table_title">Query</h2>
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody id="queryFiveTableBody"></tbody>
                        </div>
                </div>
            
                <div>
                    <div class="container info_wrapper">
                        <table id="querySixTable" class="table table-bordered table-striped">
                            <h2 class="table_title">Query</h2>
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody id="querySixTableBody"></tbody>
                        </div>
                </div>
                <div>
                    <div class="container info_wrapper">
                        <table id="queryTenTable" class="table table-bordered table-striped">
                            <h2 class="table_title">Query</h2>
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody id="queryTenTableBody"></tbody>
                        </div>
                </div>
            </div>
        </section>
    </main>
    </div>
    <div class="full_wrapper">
        <div class="major_container">
            <div class="minor_container minor_content">
                Pink
            </div>
            <div class="minor_container login_content">
                Blue
            </div>
        </div>
    </div>

    <script src="../pink.js"></script>
</body>
</html>